.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    height: 100%
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #f0f0f0;
}

.logout-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c9302c;
}
