@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, app-root {
    min-height: 100%;
}

header {
    height: 7vh;
}

main {
    min-height: 86vh;
}

footer {
    height: 7vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
